body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );

  color: white;
}

/* CONTAINER */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}

.left h1 {
  font-size: 32px;
}

.tagline {
  margin-top: 10px;
  opacity: 0.8;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.features div {
  padding: 12px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  text-align: center;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */
.form-box {
  width: 70%;
  padding: 30px;
  border-radius: 20px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  text-align: center;
}

.sub {
  opacity: 0.7;
  margin-bottom: 20px;
}

/* TABS */
.tabs {
  margin-bottom: 20px;
}

.tabs button {
  margin: 5px;
}

/* INPUT */
input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(15, 23, 42, 0.8);
  color: white;
}

/* BUTTON */
button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  width: 90%;

  background: linear-gradient(135deg, #0ea5e9, #6366f1);
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #22d3ee, #8b5cf6);
  transform: scale(1.05);
}